<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category.name }} Books</title>
</head>
<body>
    <body>
        <h1>{{ category.name }} Books</h1>
        
        <ul>
            {% for book in books %}
            <li>
                <img src="{{ book.image.url }}" alt="{{ book.name }}" width="100" height="100">
                <p>Tag: {{ book.tags }}</p>
                <!-- Add other book details as needed -->
            </li>
            {% endfor %}
        </ul>
    </body>
</body>
</html>
