{% extends "Base.html" %}

{% block content %}


<div class=" flex justify-center h-14 py-4 mt-8">
    <h5 class="text-blue-900 text-6xl font-bold">SonicScribe</h5>
</div>
<br>

<div class=" h-screen flex justify-end ">
 
    <div class="bg-white p-8 rounded w-3/5 ">
        <h2 class="text-2xl font-bold mb-6 text-blue-900">Sign Up</h2>
        <form action="/signup" method="post">
         {% csrf_token %}
        
         {% if form.errors or form.non_field_errors %}
            
         <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-6" role="alert">

             {% for i in form  %}
             <strong class="font-bold">{{i.errors}}</strong>
             {% endfor %}
           {{form.non_field_errors}}
         </div>        
         
         {% endif %}

            <div class="mb-4 shadow-2xl">
                <label for="username" class="block text-blue-900 text-sm font-bold mb-2">Username</label>             
                {{form.username}}
            </div>
            <div class="mb-4 shadow-2xl">
                <label for="email" class="block text-blue-900 text-sm font-bold mb-2">Email</label>
              {{form.email}}
            </div>
            <div class="mb-4 shadow-2xl">
                <label for="password1" class="block text-blue-900 text-sm font-bold mb-2">Password</label>
                {{form.password1}}
            </div>
            <div class="mb-4 shadow-2xl">
                <label for="password2" class="block text-blue-900 text-sm font-bold mb-2">Repeat password</label>
                {{form.password2}}
            </div>
           
         
           
            <button type="submit" class="bg-cyan-300  text-blue-900 py-2 px-4 rounded font-bold shadow-xl">Sign Up</button>
        </form>
        <p class="text-gray-600 mt-4 font-bold">Already have an account ? <a href="/login" class="text-blue-900 font-bold">Login</a></p>
    </div>
    <img src="/static/dist/pii.png" alt="" class="-mt-2 h-5/6">
</div>

{% endblock content %}











