{% extends "Base.html" %}



{% block content %}

<div class="grid grid-cols-6 gap-6 mt-8 p-6">


{% for book in books|slice:"0:1" %}
<img src="{{ book.image.url }}" class="rounded-xl w-52">

<div class="col-span-5 p-6 bg-cyan-100 rounded-xl">
   
        
    <h1 class="mb-6 text-3xl font-bold text-cyan-300"></h1>
    <p class="text-blue-900 font-bold -mt-6 mb-2">Book Name : {{book.tags}}</p>
   
    <p class="text-blue-900 font-bold mb-2">Author : {{book.Author}}</p>
   
    <p class="text-blue-900 font-bold">{{book.Description}} </p>
    {% endfor %}      
       
    
    
   
</div>
</div>
 
<hr class="border-t-2 border-gray-200">
<div class=" flex justify-center h-14 py-3 mb-6">
    <h5 class="text-blue-900 text-6xl  font-bold">Chapters</h5>
</div>

<div class="container ">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-48 ">
        <!-- Product Card -->
       {% for i  in books %}
       
        <div class="bg-white rounded-lg transition-transform transform hover:-translate-y-2 shadow-2xl mt-4 w-96 ml-3 p-8 -mb-48">
          
            <h2 class="text-xl font-bold mb-6 text-blue-900 opacity-90">{{i.name}}</h2>
           
            <audio controls >
                <source src="{{ i.book.url }}" type="audio/mpeg">
               
              </audio>
           
           
        </div>

    {% endfor %}
        <!-- Repeat similar blocks for other products -->
        
    </div>
</div>




{% endblock content %}


